.profile-card-enter {
  opacity: 0.01;
}

.profile-card-enter.profile-card-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.profile-card-leave {
  opacity: 1;
}

.profile-card-leave.profile-card-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}