.tag-badge {
    font-size: 14px;

    &:hover {
        cursor: pointer;
    }
}

.profile-card {
	border-left: 1px solid;
	border-width: .25rem;
	border-color: #408bc9;
	padding: 2rem;
	margin-left: 0;
	margin-top: 0;
}