header {
    height: 100px;
    color: white;
    background-color: #384D76;
    display: flex !important;
    flex-direction: column;
    justify-content: space-around;
}

.App-header {
    .navbar {
        .nav-links {
            display: flex;
            flex-direction: row;
            a {
                color: white;
            }
            span:hover {
                cursor: pointer;
            }
        }
    }
}