header {
    height: 100px;
    color: white;
}
    
.App-header {
    .navbar {
        .nav-links {
            display: flex;
            flex-direction: row;
            a {
                color: white;
            }
        }
    }
}