header {
    height: 100px;
    color: white;
    background-color: #384D76;
    display: flex !important;
    flex-direction: column;
    justify-content: space-around;
    font-weight: 600;
}

.navbar-brand {
    font-size: 40px;
    font-weight: 700;
}
    
.App-header {
    .navbar {
        .nav-links {
            display: flex;
            flex-direction: row;
            a {
                color: white;
            }
        }
    }
}