$dark: #3D3E4D;

.question {
  color: white;
  padding: 5%;
  .card-body {
    height: 200px;
    overflow: scroll;
  }
}

.input-group-text {
  color: white !important;
}

.card {
  border: none !important;
  background-color: $dark !important;
  .card-body, .card-header, 
  textarea, .input-group-text {
    border: none !important;
    background-color: $dark;
  }
}

.answer {
  display: block;
  padding-bottom: 10px;
  border-bottom: 1px solid black;
}
